$fg: #{"@theme_fg_color"};
$bg: #{"@theme_bg_color"};
$radius: 7px;

window.audio {
  > box {
    background-color: $bg;
    color: $fg;
    font-size: 1.1em;
    border-radius: $radius;
    padding: 15px;
  }

  button {
    margin: 2px 0;
  }
}
