.module {
  background-color: @base00;
  border-radius: 15px;
  padding: 0 10px;
}

#clock {
  padding: 0 10px;
}
#clock:hover,
#custom-power:hover,
#mpris:hover {
  background-color: @base01;
}

tooltip {
  background-color: @base00;
}
