.module {
  background-color: @base00;
  border-radius: 15px;
  box-shadow: 0px 0px 5px 1px @base02;
  padding: 0 15px;
  margin: 10px 5px;
}

#clock {
  padding: 0 15px;
}

#clock:hover,
#custom-power:hover,
#pulseaudio:hover,
#custom-swaync:hover,
#mpris:hover {
  background-color: @base01;
}

tooltip {
  background-color: @base00;
}
