@use "sass:color";
@use "sass:string";

@function gtkalpha($c, $a) {
  @return string.unquote("alpha(#{$c},#{$a})");
}

$bg: #{"@theme_bg_color"};
$fg: #{"@theme_fg_color"};
$accent: #42be65;
$radius: 7px;

window.bar {
  border: none;
  box-shadow: none;
  color: $fg;
  font-size: 1.1em;
  font-weight: bold;
  background: transparent;

  > centerbox {
    margin-bottom: 8px;
  }

  button {
    border-radius: $radius - 2px;
    margin: 2px;

    &:hover {
      background-color: gtkalpha($fg, 0.16);
    }

    &:active {
      background-color: gtkalpha($fg, 0.2);
    }
  }

  label {
    margin: 0 8px;
  }

  .tray {
    background-color: $bg;
    margin-right: 8px;
    border-radius: $radius;

    button {
      padding: 0 4px;
    }
  }

  .workspaces {
    background-color: $bg;
    border-radius: $radius;

    margin-right: 8px;

    button {
      all: unset;
      background-color: transparent;
      border-radius: calc($radius - 2px);

      &:hover box {
        background-color: gtkalpha($fg, 0.16);
        border-color: color.adjust($accent, $alpha: -0.8);
      }

      &:active box {
        background-color: gtkalpha($fg, 0.2);
      }
    }

    box {
      transition: 200ms;
      padding: 0 8px;
      margin: 2px;
      border-radius: $radius;
      border: 1pt solid transparent;
    }

    .focused box {
      color: $accent;
      border-color: $accent;
    }
  }

  .window-title {
    color: $accent;
    background: $bg;
    border-radius: $radius;
  }

  .time {
    border-radius: $radius;
    background-color: $bg;
    margin: 0 8px;
  }

  .media {
    background-color: $bg;
    border-radius: $radius;

    .cover {
      min-height: 1.5em;
      min-width: 1.5em;
      border-radius: $radius;
      background-position: center;
      background-size: contain;
    }
  }

  .audio {
    background-color: $bg;
    border-radius: $radius;
    margin-left: 8px;
  }

  .wifi {
    background-color: $bg;
    border-radius: $radius;
    margin-left: 8px;
  }

  .battery {
    background-color: $bg;
    border-radius: $radius;
    margin-left: 4px;
  }

  .audio-slider {
    * {
      all: unset;
    }

    icon {
      margin-right: 0.6em;
    }

    & {
      margin: 0 1em;
    }

    trough {
      background-color: gtkalpha($fg, 0.2);
      border-radius: $radius;
    }

    highlight {
      background-color: $accent;
      min-height: 0.8em;
      border-radius: $radius;
    }

    slider {
      background-color: $fg;
      border-radius: $radius;
      min-height: 1em;
      min-width: 1em;
      margin: -0.2em;
    }
  }
}
