$fg: #{"@theme_fg_color"};
$bg: #{"@theme_bg_color"};
$radius: 7px;

window.calendar > box {
  background-color: $bg;
  color: $fg;
  font-size: 1.1em;
  font-weight: bold;
  border-radius: $radius;
  padding: 15px;
}
